<% include header.ejs %>
<body>

<h2>Registros<h2>
    <table border="5">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.surname %></td>
                <td><%= details.Email %></td>
                <td><a href="/edit/<%= details._id%>">Editar</a> - <a href="/delete/<%= details._id%>">Deletar</a></td>
            </tr>
            <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>
</body>
<% include footer.ejs %>

